:root {
  --main-color: #8849cf;
  --main-font: Montserrat;
  background-color: #e5e5e5;
  font-family: var(--main-font);
}

* {
  box-sizing: border-box;
}

body {
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
}

main {
  padding-inline: 2rem;
}

header,
section {
  padding: 10px;
}

h1 {
  font-size: 18px;
  text-transform: uppercase;
  color: var(--main-color);
}
h2 {
  font-size: 16px;
  line-height: 18.85px;
  color: #0006;
}
p {
  margin: 0;
}
/* HEADER */
header {
  background-color: #6a1cc3;
  color: white;
  display: grid;
  grid-template-columns: 20% 80%;
  padding-top: 50px;
}
.headerspitze {
  height: 10px;
  background-color: #6a1cc3;
  _border-bottom: 5px solid var(--main-color);
  clip-path: polygon(0 0, 50% 100%, 100% 0);
}

/* checkboxbutton */
#checkboxbutton {
  display: none;
  font-size: 0;
}

#checkboxbutton + label {
  _background-color: salmon;
}

#checkboxbutton:focus {
  background-color: dodgerblue;
}

.checkboxdiv {
  background-color: white;
  width: 32px;
  height: 2px;
  margin-bottom: 6px;
  border-radius: 2px;
}

/* searchstudents */

.checkboxdiv2 {
  position: relative;
  font-size: 1rem;
}

#searchstudents {
  width: 100%;
  padding-inline: 0.75rem 2.5rem;
  padding-block: 0.25rem;
  border: 2px solid var(--main-color);
  color: lightgray;
}

#searchstudents:focus + label {
}

.labelsearchstudents {
  color: var(--main-color);
  position: absolute;
  padding: 5px;
  right: 0px;
}

.bi-search {
  width: 0.8rem;
  height: 0.8rem;
}

.bi-person {
  width: 32px;
  height: 24px;
}

/* FORMULAR - DROPDOWN */
.dropdownbox {
  margin-block: 10px;
  display: flex;
  gap: 10px;
}

#dropclass,
#droptime,
#dropclass:focus,
#droptime:focus {
  outline: 2px solid var(--main-color);
  color: white;
  font-weight: bold;
  flex-grow: 1;
  background: transparent;
  background: linear-gradient(90deg, #fff9 92%, var(--main-color) 92%);
}

/* DIVS */
.students {
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
  border: 2px solid var(--main-color);
  margin: 10px 0 10px 0;
  box-shadow: 2px 2px var(--main-color);
  color: var(--main-color);
  padding: 10px;
}

.students a {
  color: var(--main-color);
  font-size: 12px;
}
.studentsimage {
  background-color: var(--main-color);
  color: white;
  width: fit-content;
  border-radius: 2px;
  padding: 5px;
}

.studentsimage svg {
  max-width: 20px;
}
