:root {
  --main-color: #8849cf;
  --main-font: Montserrat;
  background-color: #e5e5e5;
  font-family: var(--main-font);
}

main {
  box-sizing: border-box;
  width: 391px;
  margin: 0 auto;
  background-color: white;
}

header,
section {
  padding: 10px;
}

header {
  background-color: #6a1cc3;
  color: white;
  display: grid;
  grid-template-columns: 20% 80%;
  border-bottom: 5px solid var(--main-color);
}
h1 {
  font-size: 18px;
}
p {
}
/* HEADER */
#checkbox {
  display: none;
  font-size: 0;
}

#checkbox + label {
  background-color: salmon;
}

#checkbox:focus {
  background-color: dodgerblue;
}

svg {
  width: 32px;
  height: 24px;
}
.form1 {
  width: fit-content;

  position: relative;
}

#searchstudents {
  position: relative;
  font-size: 1rem;
  padding-block: 0.25rem;
  padding-inline: 0.75rem 2.5rem;
  border: 2px solid var(--main-color);
}

#searchstudents:focus + label {
  background-color: -webkit-focus-ring-color;
}

.label1 {
  color: var(--main-color);
  position: absolute;
  right: 0;
  height: 100%; /* ODER: top: 0; bottom: 0; */
  aspect-ratio: 1.25 / 1;
  border-radius: 20px;
}

/* FORMULAR - DROPDOWN */
select {
  background-color: var(--main-color);
  background-position: 0px 50px;
}

/* DIVS */
.students {
  color: var(--main-color);
  border: 2px solid var(--main-color);
}
